#blur-background, #contentPlaceHolder {
	height: 100%;
}

.landingPane {
	background-color: #387ef5;
}

.landingPane .spinner {
	position: relative;
	top: 45%;
	left: 45%;
}

.spinner svg {
  width: 40px;
  height: 40px;
  stroke: #fff;
  fill: #fff;
}

.app-footer {
  border-color: #0c63ee;
  background-color: #387ef5;
  background-image: linear-gradient(0deg, #0c63ee, #0c63ee 50%, transparent 50%);
  color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  height: 49px;
}

#pagePlaceHolder {
	bottom: 0px;
	position: relative;
}

.has-subheader {
	position: relative;
}

.future-ads {
	width: 50%;
}
.future-ads>div:first-child {
	border: solid #FFF 1px;
	margin: 7px 0 0 5px;
	padding: 2px;
	border-style: inset;
}
.app-footer .tab-nav {
	width: 100%;
}
.app-footer .tabs-top > .tabs {
	top: 0px;
}

.navButton {
	cursor: pointer;
}

.text-red {
	color: red;
}

.text-green {
	color: green;
}

.text-lightgreen {
	color: lightgreen;
}

.text-gray {
	color: gray;
}

.text-black {
	color: black;
}

.text-medium-index-price {
	font-size: 15px;
	text-align: left;
	vertical-align: top;
}

.text-medium-ticker {
	font-size: 15px;
	vertical-align: center;
}

.text-medium-ticker-change {
	font-size: 15px;
	text-align: right;
}

.text-small-last-update {
	font-size: 10px;
	text-align: right;
  	font-family: "Helvetica Neue", "Roboto", sans-serif;
  	padding-left: 0px;
}

.text-small-medium {
	font-size: 12px;
	text-align: left;
  	font-family: "Helvetica Neue", "Roboto", sans-serif;
  	padding-left: 0px;
}

.index-ticker-width {
	width:120px;
}

.img-index {
	vertical-align: center;
}

.img-stock-select {
	width:20px;
	vertical-align: center;
}

.text-tiny {
	font-size: 9px;
}

.div-25 {
    height: 25%;
    display:flex;/* be a flexbox too */
}

img-commodity
{
    width: 16px;
    height:16px;
}

.ion-arrow-down-b-red {
  content: "\red"; }
  
  .ion-arrow-up-b-green {
  content: "\green"; }