<!DOCTYPE html>
<html ng-app="MyTicker">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<title>My Ticker</title>

<link rel="stylesheet" href="css/ionic.css">

<script src="../../js/extlib/ionic/ionic.js"></script>
<script src="../../js/extlib/angular/angular.min.js"></script>
<script src="../../js/extlib/angular/angular-animate.min.js"></script>
<script src="../../js/extlib/angular/angular-sanitize.min.js"></script>
<script src="../../js/extlib/ionic/ionic-angular.js"></script>
<script src="../../js/extlib/ionic/ionic.bundle.js"></script>

<script src="nag_quotes-controller.js"></script>

</head>

<body>
	<div id="LoginPage" ng-controller="NagQuotesController">
		<div class="bar bar-header">
			<button class="button button-assertive rounded">{{appName}}</button>
			<a class="item  item-icon-right" href="#"> <i
				class="icon ion-chatbubble-working"></i>
			</a> <label class="item item-input"> 
			<input type="text" ng-model="searchQuote" name="searchQuote" placeholder="Search">
			</label>
			<button class="button button-assertive" ng-click="searchMe()">Search</button>
		</div>

		<div class="bar bar-subheader">
			<button class="button button-positive rounded"
				ng-click="populateQuote('world')">{{world}}</button>
			<button class="button button-positive rounded"
				ng-click="populateQuote('usmarket')">{{us_market}}</button>
			<button class="button button-positive rounded"
				ng-click="populateQuote('commodities')">{{commodities}}</button>
			<button class="button button-positive rounded"
				ng-click="populateQuote('currencies')">{{currencies}}</button>
		</div>

		<br> <br> <br> <br>
		<div class="bar">

			<button class="button button-assertive rounded">{{portfolioId}}</button>

			<button style="color: black;" class="button-clear ion-refresh"
				ng-click="showAlert()"></button>

			<button style="color: black;"
				class="button button-icon button-clear ion-share"
				ng-click="showAlert()"></button>

			<button style="color: black;"
				class="button button-icon button-clear ion-compose"
				ng-click="showAlert()"></button>

			<button style="color: red;"
				class="button button-icon button-clear ion-trash-a"
				ng-click="confirmPopup()"></button>



		</div>





		<br> <br>
		<div>

			<ul class="list">
				<li class="item" ng-repeat="stock in stocks | orderBy:'t'">
					{{stock.t + ' ' + stock.l + ' ' + stock.c}}</li>
			</ul>
		</div>


	</div>
</body>


</html>